html {
	background: red; /* original in master */
	border: 2px solid fuscia; /* design branch from cloned */
	border: 80px dashed pink; /* super border!! */
	color: blue; /* I've cloned the design branch, added this edit, and want to push to the same design branch */
}